@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* declaring variables for easy reference  */
:root {
  --background: #171619;
  --foreground: #eee4dd;
}

html {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  display: block;
  padding: 0px;
  margin: 0px;

  background-color: var(--foreground);
}

/* splash section */
#splash-container {
  min-height: 100vh;

  background-image: url("/assets/background.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#splash-text {
  padding: 14rem;
}

#splash-text > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#splash-text > span {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--background);
}

#typing-container {
  font-size: 3rem;
}

#typing-text {
  font-weight: 500;
}

#connection-container {
    display: flex;
    align-items: center;
    gap: 1rem;

    font-size: 2rem;
    font-weight: 400;
}

#connection-links {
    display: flex;
    align-items: center;
    gap: 1rem;

    transform: translateY(0.25rem);
}

#connection-links > a > img {
    width: 2rem;
    height: 2rem;
}